In [3]:
# create  a list of 10 integer
a = [10,12,13,14,15,11,16,17,18,19]
print("original list: " , a)
# find and print the sum,max,and min value
print("sum of the list: " , sum(a))
print("max value of the list: " , max(a))
print("min value of the list: " , min(a))
# add new element in the list
a.append(20)
print("new list: " , a)
# remove existing element from the list
a.remove(10)
print("new list: " , a)
# print new list
print("new list: " , a)
# sort the list in ascending order
a.sort()
print("new list: " , a)
# sort the list in descending order
a.sort(reverse=True)
print("new list: " , a)

original list:  [10, 12, 13, 14, 15, 11, 16, 17, 18, 19]
sum of the list:  145
max value of the list:  19
min value of the list:  10
new list:  [10, 12, 13, 14, 15, 11, 16, 17, 18, 19, 20]
new list:  [12, 13, 14, 15, 11, 16, 17, 18, 19, 20]
new list:  [12, 13, 14, 15, 11, 16, 17, 18, 19, 20]
new list:  [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
new list:  [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

# **Lists**
1. create  a list of 10 integers
2. find and print the sum,max,and min value
3. add new element to the list and remove an existing one
4. print new list
5. sort the list in ascending/descending order

In [8]:
#create a tuple with 5 strings
a = ("apple", "banana", "cherry", "date", "elderberry")
print(a)
# access and print the second and last element
print(a[1])
print(a[-1])
# add new element to the tuple
b = list(a)
b.append("fig")
a = tuple(b)
print(a)
# remove an element from the tuple
b = list(a)
b.remove("apple")
a = tuple(b)
print(a)

('apple', 'banana', 'cherry', 'date', 'elderberry')
banana
elderberry
('apple', 'banana', 'cherry', 'date', 'elderberry', 'fig')
('banana', 'cherry', 'date', 'elderberry', 'fig')

# **Tuples**
1. create a tuple with 5 strings
2. access and print the second and last element
3. add new element to the tuple
4. remove an element from the tuple

In [9]:
# create two sets with some common and unique elements
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}
# find and print the union of the sets
print(a.union(b))
# find and print the intersection of the sets
print(a.intersection(b))
# find and print the difference between the sets
print(a.difference(b))
# find and print the symmetric difference between the sets
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

# **Sets**
1. create two sets with some common and unique elements
2. find and print the union of the sets
3. find and print the intersection of the sets
4. find and print the difference between the sets
5. find and print the symmetric difference between the sets

In [12]:
# create 5-key values pairs and marks
students = {"Ali" : 85,"Sara" : 92,"Ahmed" : 78,"Fatima" : 95,"Hassan" : 88}
print(students)
# find and print the length of the dictionary
print(len(students))
# find and print the keys of the dictionary
print(students.keys())
# find and print the values of the dictionary
print(students.values())
# update value
students ["Ali"] = 90;
print("update dictionary: ", students)

{'Ali': 85, 'Sara': 92, 'Ahmed': 78, 'Fatima': 95, 'Hassan': 88}
5
dict_keys(['Ali', 'Sara', 'Ahmed', 'Fatima', 'Hassan'])
dict_values([85, 92, 78, 95, 88])
update dictionary:  {'Ali': 90, 'Sara': 92, 'Ahmed': 78, 'Fatima': 95, 'Hassan': 88}

# **Dictionaries**
1. 5 key value pairs student name and marks
2. print keys and values
3. update value

# **Numpy**

# **Matplotlib**